#!/usr/bin/make -f

export OPENSSL_STATIC = 1
export CARGO_HOME = $(CURDIR)/debian/.cargo

%:
	dh $@

override_dh_auto_build:
	cd rust && cargo build --release

override_dh_auto_install:
	install -Dm755 rust/target/release/imfwizard debian/imfwizard/usr/bin/imfwizard
	install -Dm644 debian/imfwizard.desktop debian/imfwizard/usr/share/applications/imfwizard.desktop

override_dh_auto_test:
	cd rust && cargo test

override_dh_auto_clean:
	cd rust && cargo clean || true
